<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY TODO - Rahmat Agung Julians</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newTodo" v-on:keyup.enter="add">
        <ul>
            <li v-if="!todos.length">Belum ada tugas</li>
            <li v-for="(todo,index) in todos">
                <span v-bind:class="{'completed': todo.done}">{{ todo.text }}</span>
                <button v-on:click="removeItem(index)"> X </button>
                <button v-on:click="toggleC(todo)">Selesai</button>
            </li>
        </ul>
    </div>

    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>